.hero {
  background: url("../images/hero_bg.png") no-repeat center / cover;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  @include mobile {
    background-position: 30% 80%;
    background-size: 900px;
  }

  @include desktop {
    background-size: cover;
  }

  @media only screen and (min-width: 1200px) {
    background-position: center;
    background-position-y: -20%;
    background-size: cover;
  }

  &__wrapper {
    padding: 0 30px;

    @include desktop {
      display: grid;
      grid-template-areas: "hero__wrapper__headlines hero__wrapper__cta";
      grid-template-columns: 50% auto;
    }

    @include laptop {
      padding: 10px 500px;
    }

    &__headlines {
      h1 {
        margin-bottom: 25px;
      }

      @include desktop {
        font-size: 60px;
        grid-area: hero__wrapper__headlines;
        margin: 1em;
      }

      a {
        font-weight: 300;
        text-transform: uppercase;

        @include desktop {
          display: none;
        }

        &::before {
          border-bottom: 1px solid $white;
          color: $white;
          content: "";
          display: inline-block;
          margin-bottom: 2px;
          margin-right: 10px;
          width: 6rem;
          
          @include desktop {
            display: none;
          }
        }
      }
    }

    &__cta {
      text-align: center;
      @include desktop {
        padding-top: 50px;
      }

      &__btn {
        background-color: $green;
        border: 0;
        color: $white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        height: 50px;
        letter-spacing: 2px;
        margin-top: 5vh;
        width: 316px;

        &__subtitle {
          color: $white;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 1px;
          margin: 20px;
          text-align: center;
          text-transform: none;
        }
      }
    }
  }
}

.steps {
  background-image: url("../images/space.png");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  height: 110vh;

  @include mobile {
    height: 70vh;
  }

  &__wrapper {
    padding: 0 30px;
    padding-top: 100px;
    margin-top: 20px;

    @include mobile {
      padding-top: 0;
    }

    @include desktop {
      padding: 0 200px;
      padding-top: 100px;
    }

    @include laptop {
      padding: 60px 500px;
    }

    &__body {
      display: flex;
      margin-bottom: 40px;
      &__img {
        max-height: 100px;
      }
    }
  }
}

h6 {
  padding-bottom: 18px;
}

.steps__wrapper__circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;

  &__blue {
    background-color: $green;
    font-size: 40px;
  }

  &__olive {
    background-color: $olive;
    font-size: 40px;
  }

  &__purple {
    background-color: $purple;
    font-size: 40px;
  }

  &__light-blue {
    background-color: $light-blue;
    font-size: 40px;
  }
}

.flex-start { 
  justify-content: flex-start; 
}

.flex-end { 
  justify-content: flex-end; 
}

.submit {
  display: flex;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    padding-top: 30px;

    @include mobile {
      width: 80%;
    }

    & h5 {
      font-size: 20px;
      font-weight: 300;
    }

    &__signin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 1rem;

      &__form {
        width: 100%;
        padding-bottom: 3rem;
      }
    }
  }
}

.submit__wrapper__signin label {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.submit__wrapper__signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: $primary;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
  text-decoration: none;
}

.submit__wrapper__signin__form__btn {
  background-color: $green;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  letter-spacing: 2px;
  margin-top: 5vh;
  width: 100%;
}