<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__inner__menu">
      <li class="footer__inner__menu__item"><i class="fab fa-twitter"></i></li>
      <li class="footer__inner__menu__item"><i class="fab fa-facebook-f"></i></li>
      <li class="footer__inner__menu__item"><i class="fab fa-instagram"></i></li>
      <li class="footer__inner__menu__item github"><i class="fab fa-github"></i></li>
    </ul>
  </div>
  <div class="footer__right">
    <h5><a href="#">nebulab/careers</a></h5>
  </div>
</footer>