<header class="header">
  <div class="header__wrapper">
    <a href="/"><img src="images/nebulab_logo.svg" alt="Logo" class="nebulab-logo" /></a>
    <nav class="header__wrapper__menu">
      <ul class="header__wrapper__menu__list">
        <li class="header__wrapper__menu__list__item">
          <a class="header__wrapper__menu__list__item__link" href="#">How it works</a>
        </li>
        <li class="header__wrapper__menu__list__item">
          <a class="header__wrapper__menu__list__item__link" href="https://nebulab.it/">Who we are</a>
        </li>
      </ul>
    </nav>
  </div>
</header>