.footer {
  padding: 0 30px;
  display:flex;
  justify-content: space-between;
  padding-bottom: 30px;

  @include mobile {
    padding-right: 25px;
  }

  @include desktop {
    padding: 0 200px;
  }

  @include laptop {
    padding: 0 500px;
  }

  &__inner {
    display: flex;

    &__menu {
      list-style: none;
      display: flex;
      padding: 0;

      &__item {
        color: $white;
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }

  &__right {
    
    & a {
      font-size: 16px;
      font-weight: 300;
      text-transform: none;
      letter-spacing: 0;
      text-decoration: underline;

      &:hover {
        color: $blue;
      }
    }
  }
}

