.header {
  margin-top: 23px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-top: $padding-top;

    &__menu {
      &__list {
        margin: 0;
        padding: 10px 0 0;
        list-style-type: none;

        &__item {
          display: inline-block;
          padding-bottom: 5px;
          text-transform: uppercase;

          &:first-child {
            @include mobile {
              display: none;
            }
          }
          
          @include desktop {
            margin-left: 30px;
          }

          &__link {
            text-decoration: none;
            color: $white;
            letter-spacing: 3.5px;
            font-size: 11px;
            margin-left: 10px;

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}