*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $primary;
  color: $white;
  font-family: $font-family;
}

img {
  max-width: 100%;
}

a {
  color: $white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-decoration: none;
}