h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin: 0;

  @include desktop {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: 76px;
  }
}

h6 {
  color: $blue;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  @include desktop {
    margin: 10px;
    margin-left: 0;
  }
}

h2 {
  margin-right: 18px;
  margin-left: 18px;

  @include mobile {
    font-size: 17px;
  }
}