//Colors
$primary: #252637;
$blue: #5DBEFD;
$secondary: #32D5A9;
$white: #ffffff;
$olive: #B5E478;
$green: #32D5A9;
$purple: #823B8B;
$light-blue: #B7C5F0;

// Font family
$font-family: sofia-pro, sans-serif;

// Variables
$padding-top: 10px;
$laptop: 1900px;
$desktop: 770px;
$table: 618px;
$mobile: 375px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}