---
title: Welcome to Code - Challenge
---

<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__wrapper__headlines">
      <h6>#nebulab@condemotion</h6>
      <h1>Make a PR on GitHub & get a free T-Shirt!*</h1>
      <a href="#">See how it works</a>
    </div>
    <div class="hero__wrapper__cta">
      <button href="http://www.nebulab.it" class="hero__wrapper__cta__btn">SUBMIT PULL REQUEST</button>
      <h6 class="hero__wrapper__cta__btn__subtitle">*Only 250 t-shirts available.</h6>
    </div>
  </div>
</section>

<section class="steps">
  <div class="steps__wrapper">
    <h6>How it works</h6>
    <div class="steps__wrapper__body flex-start">
      <div class="steps__wrapper__circle steps__wrapper__circle__blue"><i class="fab fa-github"></i></div>
      <h2>Search an issue<br>on GitHub and solve it</h2>
    </div>
    <div class="steps__wrapper__body flex-end">
      <h2>Create a PR on the<br>GitHub Project</h2>
      <div class="steps__wrapper__circle steps__wrapper__circle__olive"><i class="fas fa-code-branch"></i></div>
    </div>
    <div class="steps__wrapper__body flex-start">
      <div class="steps__wrapper__circle steps__wrapper__circle__purple"><i class="fas fa-desktop"></i></div>
      <h2>Submit your PR to<br>this website</h2>
    </div>
    <div class="steps__wrapper__body flex-end">
      <h2>Come get your free<br>t-shirt at our stand!</h2>
      <div class="steps__wrapper__circle steps__wrapper__circle__light-blue"><i class="fas fa-tshirt"></i></div>
    </div>
  </div>
</section>

<section class="submit">
  <div class="submit__wrapper">
    <h6>Submit your Pull Request</h6>
    <h5>Submit your Pull Request within the tow days of<br> Codemotion Milan 2018 (November 29-30)</h5>
    <div class="submit__wrapper__signin">
      <form class="submit__wrapper__signin__form">
        <div>
          <label>Name*</label>
          <input type="text" class="text-input">
        </div>
        <div>
          <label>Email address*</label>
          <input type="Email" class="text-input">
        </div>
        <div>
          <label>Pull Request URL*</label>
          <input type="Email" class="text-input">
        </div>
        <button type="submit" class="submit__wrapper__signin__form__btn">Submit</button>
      </form>
    </div>
  </div>
</section>